* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
/*  font-family: "Fira Sans";*/
  font-family: "Work Sans";
  font-size: 20px;
  color: #0039a5;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: table;
  
}

#margin-space {
  display: table-cell;
  vertical-align: middle;
}

#container {
  margin: auto;
  max-width: 700px;
  padding: 50px;
/*  border: 10px solid #0039a5;*/
}

ul {
  list-style: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #f08686;
  text-decoration: none;
}

section {
  font-family: inherit;
  color: inherit;
  font-size: 0.85em;
  font-weight: 400;
  padding-bottom: 1em;
}

section h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 0.75em;
}

section p {
  line-height: 175%;
  padding-bottom: 1em;
}

section a:link, section a:visited {
  border-bottom: 1px solid #0039a5;
;
}

section a:hover {
  border-bottom: 1px solid #f08686;
}

footer li {
  display: inline;
  margin-right: 5px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 320px) {
  html {
      font-size: 18px;
  }

  }